.card {
    margin-bottom: 1rem;
    display: flex;
}

.card .img_box {
    width: 10rem;
    height: 6rem;
    margin-right: 1rem;
}

.card .img_box .img {
    width: 10rem;
    height: 6rem;
    object-fit: cover;
}

.card .text_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .text_box .title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.card .text_box .title:hover {
    text-decoration: underline;
}

.card .text_box .description {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card .text_box .date {
    color: #999999;
}

@media screen and (max-width: 764px) {
    .card .img_box {
        width: 6rem;
        height: 4rem;
    }
    .card .img_box .img {
        width: 6rem;
        height: 4rem;
    }

    .card .text_box .title {
        font-size: 1rem;
    }

    .card .text_box .description {
        font-size: 0.9rem;
    }
}
