.list {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.list img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    margin-right: 0.5rem;
}

.list .text_box {
    width: 100%;
}

.list .text_box .top_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}
